<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <style>
    
    </style>
  </head>
  <!-- <body style="background-image: url(./images/bg1.jpg);background-repeat: no-repeat;background-size:100%;"> -->
    <body class="bg">
    <div class="div1">
      <h1 style="color: white;font-size: 38px;margin-bottom: 10px;">您好，欢迎来到图文期刊在线阅读管理系统</h1>
      <h3 style="color: white;font-size: 24px;margin-bottom: 40px;">Hi，Welcome To Online Reading Management System</h3>
      <div>
        <h2><a style="color: white;font-size: 30px;" href="/login">点击进入 ></a></h2>
      </div>
    </div>
  </body>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript"></script>
  <script>
  </script>
</html>
