/* 期刊管理 */
#bianji{
    background-color: #79be3b;
    color: #fff;
}
.Bookbox3{
    width:92%;
    height: 295px;
    margin-left: 50px;
    margin-top: 40px;
    box-shadow:0px 0px 15px 1px rgba(255,255,255,0.89) inset;
    background: rgba(0,0,0,0.5);     
    margin-bottom: 10px;
    color: white;
}
.Bookbox3 ul{
    width: 100%;
    height: 300px;
    float: left;
    color: white;

}
.Bookbox3 li{
    width: 100%;
    height: 58px;
    border-bottom:1px solid rgba(255,255,255,0.7);
    /* background-color: pink; */
    float: left;
    color: white;

}
.Bookhead{
    text-align: center;
    line-height:3.7rem;
    color: white;
}
.Bookhead1{
    float: left;
    /* width: 135px; */
    width: 14%;
    color: white;
    text-align: center;

}
.Bookbody{
    float: left;
    /* width: 135px; */
    width: 14%;
    color: white;
    text-align: center;
    line-height:3.7rem;
}
.Topicoperation{
    float: left;
    margin:2px 0 0 15%;
}
.operation1{
    width: 60px;
    float: left;
    height: 30px;
}
.operation1>button{
    width: 60px;
    background-color: #79be3b;
    border:1px solid #888;
    color: #fff;
    height: 30px;
}
/**弹框*/
#pop-container {
    display: none;
    z-index: 999;
}
/*遮盖层*/
#cover-tier {
    background-color: #D9D9D9;
    opacity: 0.5; 
}
/*弹出层内容*/
#pop-tier {
    width: 500px;
    height: 500px;
    border: 2px solid #C3C3C3;
    background-color: #fff;
    margin: auto;
    text-align: center;
}
.popPosition {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/*关闭弹框*/
#close-pop {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popPosition1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#pop-container1 {
    display: none;
    z-index: 999;
}
/*遮盖层*/
#cover-tier1 {
    background-color: #D9D9D9;
    opacity: 0.5;
}
/*弹出层内容*/
#pop-tier1 {
    width: 500px;
    height: 500px;
    border: 2px solid #C3C3C3;
    background-color: #fff;
    margin: auto;
    text-align: center;
}
/*关闭弹框*/
#close-pop1 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
