/* 评论管理 */
.Blockbox3{
    width:92%;
    height: 295px;
    margin-left: 50px;
    margin-top: 40px;
    /* border:1px solid rgba(255,255,255,0.7); */
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
  }
  .Blockbox3 ul{
    width: 100%;
    height: 300px;
    float: left;
  }
  .Blockbox3 li{
    width: 100%;
    height: 58px;
    border-bottom:1px solid rgba(255,255,255,0.7);
    float: left;
  } 
  .Blockhead{
    background-color:white;
    color: white;
    text-align: center;
    line-height:3.7rem;
  }
  .Blockhead1{
    float: left;
    width: 20%;
    color: white;
  } 
  .Blockbody{
    float: left;
    width: 20%;
    color: white;
    text-align: center;
    line-height:3.7rem;
  }
  .Blockdel{
    width: 50px;
    height: 30px;
    background-color: transparent;
    border:1px solid white;
    color: white;
    margin: 15px auto;
    border-radius: 10px;
  }