.boxcenter{
    width:880px;
    height:400px;
    font-size:20px;
    text-align:center;
    margin:0 auto;
    margin-top:80px;
    line-height:60px;
}
.box1{
    width:180px;
    height:230px;  
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    margin-top: 80px;
    float:left;
    margin-right:50px;

}
.box11{
    width: 20px;
    height: 200px;
    line-height: 35px;
    margin-top: 10px;
    margin-left:30px;
    float: left;
}
.box121{
    font-size: 35px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    width: 90px;
    margin-left: 20px;
}
.box122{
    width: 0;
    float: left;
    height: 0;margin-left: 35px;
    margin-top: 20px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.5) rgba(0,0,0,0.5)  rgba(0,0,0,0.5)
}
.box123{
    width: 60px;
    height:30px;
    background:rgba(0,0,0,0.5) ;
    float: left;
    margin-left: 35px;
}

.box2{
    width:180px;
    height:230px;  
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    margin-top: 150px;
    float:left;
    margin-right:50px;

}
.box3{
    width:180px;
    height:230px;  
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    float:left;
    margin-left:50px;

}
