.mbox{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    border:2px solid #FFFFF5;
    box-shadow:0px 0px 15px 1px rgba(255,255,255,0.89) inset;

}
.login{
    width: 500px;
    margin: 0 auto;
    z-index: 101;
}
form{
    width: 450px;
    margin: 20px auto;
    text-align:left;
}
input{
    border: 1px solid white;
    border-radius: 10px;
    height: 35px;
    margin-left: 20px;
}
#userphone{
    width: 240px;
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom:20px;
}
#password1{
    width: 210px;
    margin-top: 20px;
    padding-left: 10px;
}
#password2{
    width: 210px;
    margin-top: 20px;
    padding-left: 10px;
}
#code{
    margin-top: 20px;
    width: 120px;
    padding-left: 10px;
}
#getcode{
    margin-top: 20px;
    width: 95px;
    background:white;
    color: black;
    cursor: pointer;
    text-align: center;
}
#resign{
    width: 120px;
    height: 35px;
    color: white;
    border: 1px solid white;
    margin-top:20px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow:0px 0px 15px 1px rgba(255,255,255,0.89) inset;

}