/* 积分表 */
/* 积分对照表 */
#bianji{
    background-color: #79be3b;
    color: #fff;
}
.Listbox3{
    width:92%;
    height: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border:1px solid #eee;
    color: #000;
    margin-bottom: 10px;
}
.Listbox3 ul{
    /* width: 1100px; */
    width: 100%;
    height: 300px;
    float: left;
  }
.Listbox3 li{
    width: 100%;
    height: 58px;
    border:1px solid #eee;
    float: left;
}
.Listhead{
    text-align: center;
    line-height:3.7rem;
    color:#000;
    border:1px solid #eee;
    /* line-height:3rem; */
    /* background-color: pink; */
}
.Listhead1{
    float: left;
    width: 20%;
    color: black;  
}
.Listbody{
    float: left;
    width: 20%;
    text-align: center;
    line-height:3.7rem;
}
/* 个人详细积分 */
.ListInbox3{
    width:92%;
    height: 300px;
    margin-top:30px;
    margin-left: 50px;
    /* background-color: #eee; */
    border:1px solid #eee;
    margin-bottom: 10px;
}
.ListInbox3 ul{
    width: 100%;
    height: 300px;
    float: left;
}
.ListInbox3 li{
    width: 100%;
    height: 58px;
    border:1px solid #eee;
    /* background-color: pink; */
    float: left;
} 
.ListInhead{
    background-color:white;
    text-align: center;
    line-height:3.7rem;
}
.ListInhead1{
    float: left;
    width: 33%;
    color: black;
}

.ListInimg{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0 0 35%;
}
.ListInbody{
    float: left;
    width: 33%;
    color: black;
    text-align: center;
    line-height:3.7rem;
}
/* 积分对照表 */
.Taskbox3{
    width:92%;
    height: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border:1px solid #eee;
    margin-bottom: 10px;
    color: white;
}
.Taskbox3 ul{
    width: 100%;
    height: 300px;
    float: left;
    color: white;

}
.Taskbox3 li{
    width: 100%;
    height: 58px;
    border:1px solid #eee;
    /* background-color: pink; */
    float: left;
    color: white;

}
.Taskhead{
    background-color:white;
    color: white;
    text-align: center;
    line-height:3.7rem;
}
.Taskhead1{
    float: left;
    /* width: 135px; */
    width: 25%;
    color: white;
}
.Taskbody{
    float: left;
    /* width: 135px; */
    width: 25%;
    color: white;
    text-align: center;
    line-height:3.7rem;
}
.Topicoperation{
    float: left;
    margin:2px 0 0 30%;
}
.operation1{
    width: 60px;
    float: left;
    height: 30px;
}
.operation1>button{
    width: 60px;
    background-color: #79be3b;
    border:1px solid #888;
    color: #fff;
    height: 30px;
}
/**弹框*/
#pop-container {
    display: none;
    z-index: 999;
}
/*遮盖层*/
#cover-tier {
    background-color: #D9D9D9;
    opacity: 0.5; 
}
/*弹出层内容*/
#pop-tier {
    width: 380px;
    height: 390px;
    border: 2px solid #C3C3C3;
    background-color: #fff;
    margin: auto;
    text-align: center;
}
.popPosition {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/*关闭弹框*/
#close-pop {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popPosition1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#pop-container1 {
    display: none;
    z-index: 999;
}
/*遮盖层*/
#cover-tier1 {
    background-color: #D9D9D9;
    opacity: 0.5;
}
/*弹出层内容*/
#pop-tier1 {
    width: 380px;
    height: 390px;
    border: 2px solid #C3C3C3;
    background-color: #fff;
    margin: auto;
    text-align: center;
}
/*关闭弹框*/
#close-pop1 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

