*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  height: 100%;
}
.bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-image:  url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.left{
  float: left;
  width: 17%;
}
.right{
  float: left;
  width: 83%;
}
.nav{
  color: white;
  width: 150px;
  height: 50px;
  margin-top: 35px;
  margin-left: 25px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}
.nav a{
  color: white;
}
.nav:hover{
  background: rgba(255,255,255,0.5);
}
.list{
  width: 300px;
  height: 75px;
  background: rgba(255,255,255,0.5);
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
  line-height: 75px;
  border-radius: 25px;
}
.list a{
  color: white;
}
/* 搜索 */
.box1{
  height: 55px;
  margin-top: 40px; 
  margin-left: 50px;
  color: #fff;
}
.search{
  float: left;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  border:1px solid transparent;
  background: rgba(255,255,255,0.5);
  font-size: 18px;
}
.Bar{
  float: left;
  width: 330px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: transparent;
  padding-left: 10px;
}
.box2{
  height: 80px;
  width: 300px;
  margin-top: 5px; 
  margin-left: 50px;
  background: red;
}
/* input{
  background: transparent;
} */

input::-webkit-input-placeholder {
  color: #fff;
  text-align: left;
}
