<!DOCTYPE html>
<html>
    <head>
        <title>系统管理</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body class="bg">
        <header style="width:100%;height:140px;"> 
          <img src="./images/logo.png" style="width:120px;height:120px;float:left;margin-left: 30px;"/>
          <p style="float:left;color:white;font-size:42px;line-height:130px;margin-left:40px;">图文期刊在线阅读管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/home">首页</a>
            </div>
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">评论管理</a>
            </div>
            <div class="nav">
                <a href="/book">期刊管理</a>
            </div>
            <div class="nav">
                <a href="/score">O币管理</a>
            </div>
            <div class="nav" style="background: rgba(255,255,255,0.5);box-shadow:0px 0px 15px 1px rgba(255,255,255,0.89) inset;">
                <a href="/sys">系统管理</a>
            </div>
        </div>
        <div class="right">
            <div style="width:300px;margin:0 auto;margin-top:150px;">
                <div class="list">
                    <a href="/syslist">所有管理员信息</a>
                </div>
                <div class="list">
                    <a href="/system">此账号信息</a>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script>   
    </script>
</html>
